* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    background-color: goldenrod;
}

nav ul{
    float: top;
}

nav li{
    display: inline-block;
    list-style: none;
}

header ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    padding:0 20px;

}

header ul li a:hover{
    color: black;
}

footer {
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0 100px;
    background-color: goldenrod;
}

.block {
    width: 40%;
    height: 550px;
    border: 1px solid gray;
    text-align: center;
    margin-top: 1rem;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    box-shadow: lightslategray 3px 3px 10px;
    background-color: #f1f2f3;
}

img {
    width: 60%;
    object-fit: cover;
}

.btn {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    background-color: goldenrod;
    text-align: center;
    padding: 5px;
    margin-bottom: 5%;
}

.btn:hover {
    background-color: white;
    color: goldenrod;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

h4 {
    text-align: center;
}

section {
    text-align: center;
}

#articles {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
}

.film {
    font-size: 40px;
    text-transform: uppercase;
}

@media screen and (max-width: 765px) {
    .block {
        width: 80%;
    }
}
