{% include '_header.html.twig' %}
<br>
<h1 class="film">Articles de film</h1>
    <div id="articles">
        {% for homePage in homePage %}
            {% include '_article.html.twig' %}
        {% endfor %}
    </div>
<br>
{% include '_footer.html.twig' %}