{% extends 'base.html.twig' %}
{% block main %}
<br>
<h1 class="film">Articles de film</h1>
    <div id="articles">
        {% for homePage in homePage %}
            {% include '_article.html.twig' %}
        {% endfor %}
    </div>
<br>
{% endblock%}