{% extends 'base.html.twig' %}
{% block title %}
    <title> Article</title>
{% endblock %}
{% block main %}
<br>
<h1 class="film">Articles de film</h1>
    <div id="articles">
        {% for homePage in homePage %}
            {% include '_article.html.twig' %}
        {% endfor %}
    </div>
<br>
{% endblock%}
    {% block footer %}
        <p>Blog</p>
    {% endblock %}