{% extends 'base.html.twig' %}
{% block title %}
    <title> home </title>
{% endblock %}

{% block main %}
<br>
<section>
    <form action="{{ path('home') }}" method="get">
        <label for="age">A hold are you ?</label>
        <input type="text" name="age">
    </form>
</section>

<div id="articles">
    {% for homePage in homePage | slice (0,3) %}
        {% include '_article.html.twig' %}
    {% endfor%}
</div>
<br>
{% endblock %}
    {% block footer %}
        <p>Blog</p>
    {% endblock %}